.view-photo-model {
  padding: 20px 40px;
  width: 90%;
  background: #ffffff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.photo-details,
.user-info {
  display: flex;
}

.photo-details {
  justify-content: space-between;
  align-items: center;
}

.user-info {
  text-align: left;
}

.user-personal-pic {
  border-radius: 80px;
  margin-right: 10px;
  width: 50px;
}

.full-width {
  width: 100%;
}
