.search-container {
  height: 80%;
  margin-bottom: 60px;
}

.search-section,
.search-background-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.search-background-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.46);
}

.search-section {
  /* outline: 1px solid skyblue; */
  width: 50%;
}

.app-info {
  text-align: left;
  margin-right: auto;
}

.project-name {
  font-size: 3rem;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.project-desc-link {
  color: #fff;
}

.search-con,
.search-con form {
  width: 100%;
}
.search-con {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  height: 55px;
  border: 2px solid gray;
  border-radius: 10px;
}

.search-con form {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.search-button {
  height: 100%;
  background: #e5e5e5;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.search-button:hover {
  background: #d6d6d6;
}

input {
  width: 100%;
  height: 100%;
  padding: 8px 0;
  border: none;
  outline: none;
  border-radius: 10px;
}

::placeholder {
  font-size: 1rem;
}

.search-icon {
  width: 20px;
  margin-right: 5px;
}
